{% extends "base.html" %}

{% block content %}

<h3>{{ post.title }}</h3>

    <p>posted by: {{ post.posted_by }}
            <form action="{% url 'post_remove' slug=post.slug %}" method="POST">
                {% if request.user.is_authenticated %}
                {% csrf_token %}
                    {% if request.user == post.posted_by %}
                    <button type="submit" class="btn btn-danger">
                        <stong>Delete Post</stong>
                    </button>
                    {% endif %}
                {% endif %}
            </form>
        <br> 
        on {{ post.posted_on }}<br>
   </p>
    <p>{{ post.description }}</p>
    {% if post.image_url %}
    <img src="{{ post.image_url }}"><br>
    {% endif %}

    {% if request.user.is_authenticated %}
    <h4><a href="{% url 'create_comment' slug=post.slug %}">Add Comment</h4></a>   
    {% endif %}

    {% if post.comments.count %}
        <h4>Comments: </h4>
        {% for comment in post.comments.all %}
        
        <p><strong>{{ comment.posted_by }}:</strong> {{ comment.text }}<br>
        {{ comment.created_at }}</p>
    {% endfor %}

    {% endif %}

{% endblock %}
