{% extends "base.html" %}

{% block content %}

<p>{{ post.title }}<br>
    Image Url:<img src="{{ post.image_url }}"><br>
{{ post.description }}</p>

<p>posted on: {{ post.posted_on }}</p>

{% if post.comments.count %}

    {% for comment in post.comments.all %}
    
    <p>Posted by: {{ comment.posted_by }}<br>
        Comments: {{ comment.text }}</p>
    {% endfor %}

{% endif %}


{% if request.user.is_authenticated %}
    <h2>Comment:</h2>
    <form method="POST" class="post-form">
        {% csrf_token %}
        <input type="text">
        {{ form.as_p }}

        
            <button type="submit"><i class="fa fa-fort-awesome"></i> Submit</button>
        
    </form>
{% endif %}



{% endblock %}
