{% extends "base.html" %}

{% block content %}
<h1>Collaboration Station</h1>
<p>One day two humans, eached named AJ, turned into robots when they made the decision to learn how to code... </p>
<p>...jk they didn't actually turn into robots. But this is what they would look like if they did:</p>
<ul>
    <ul>
        <li><img class="robot" src="images/FullSizeRender-AJ.jpg" alt="A black and white drawing of a robot with square head and body. This robot wear a black, white and red bandana and has a black fohawk."></li>
        <li>Robot AJ</li>
    </ul>
    <ul>
        <li><img class="robot" src="images/FullSizeRender-Abby.jpg" alt="A black and white drawing of a robot with square head and body. This robot wear a black, white and red bandana and has a black fohawk."></li>
        <li>Robot <strong>A</strong>bby <strong>J</strong>oy</li>
    </ul>
</ul>

<h2>Thier task:</h2>
<p>Develop a program using Django, Python, CSS and HTML that mimics a <a href="https://www.reddit.com/">reddit.com</a> or <a href="https://lobste.rs/">lobste.rs</a>. They decided to focus on generative and data driven art. </p>

<p>Both of them are creative and wanted to explore how they could learn to use their newly developed coding skills to make art. And not just art for the sake of art. They wanted to learn how to make art that had a <strong>purpose</strong>. </p>
{% endblock %}
