.sidebar-nav {
    /* margin-top: 20px; */
    padding: 0;
    list-style: none;
    background-color: whitesmoke;
    border-radius: 0 0 15px 0;
    /* border-right: solid 2px rgb(141, 138, 138); */
}

.sidebar-nav li {
    border-bottom: solid 1px black;
    border-radius: 0 0 15px 0;
    font-size: 1.25rem;
    padding-left: 10px;
}

.home:hover {
    background-image: linear-gradient(#FC9700, #FC5800);
}

.story:hover {
    background-image: linear-gradient(#0091FC,  #3700FC);
}

.user:hover {
    background-image: linear-gradient(#00FC69,  #017230);
}

.new_post:hover {
    background-image: linear-gradient(#B500FC,  #4b0168);
}

.log:hover {
    background-image: linear-gradient(#FCD600,  #8d7801);
}

.col-sm-2 {
    padding: 0;
    margin: 0;
}
header {
    background-image: radial-gradient( #000000, #616060);
    box-shadow: 2px 2px rgb(134, 134, 134);
}

body {
    max-width: 100%;
    margin: 0 auto;
    background-color: rgb(170, 171, 172);
}

h3 {
    background-color: aliceblue;
    color: black;
    font-size: 2.5rem;
    margin-top: 0;
}

.block-text {
    font-size: 1.25em;
    border: solid 1px black;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    background-color: aliceblue;
}

.block-content {
    width: 95%;
}

.post{
    list-style: none;
    display: flex;
    flex-direction: column;
    border: dashed 1px rgb(180, 177, 177);
    box-shadow: 3px 3px rgb(141, 138, 138);
    border-radius: 10px;
    padding: 10px 10px 10px 10px; 
    background-color: white;
}

.post:hover {
    transform: translateY(4px);
}

.post-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.votes{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.vote-item{
    padding-right: .25rem;
}

.num{
    padding: .50rem;
}

.btn{
    background-color: rgb(0, 145, 255);
    border-radius: 30px;
}

.notart{
    font-size: .75rem;
}
.art{
    font-size: .50rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);

svg {
    display: block;
    font: 18.5em 'Montserrat';
    /* width: 960px;
    height: 300px; */
    margin: 0 auto;

}

.text-copy {
    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #3700FC;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #FC0047;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #B500FC;;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #FC5800;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FCD600;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}