*{
    font-family:'Bookman', Georgia, 'Times New Roman', Times, serif;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    border-right: solid 2px rgb(141, 138, 138);
}

.post{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 75%;
}

.post-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}